body { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

main, header, footer { 
    max-width: 620px;
    margin:0 auto;
}

h1 { font-weight: 400; }
h2 { font-weight: 200; }

header h3 { padding-top: 20px; }

footer {
    font-size:0.9em;
    font-weight:200;
    padding-top: 20px;
}
